.white-background{
	-fx-background-color:#fff;
	}
.rightsideborder{
	-fx-border-color:#6F6F6F;
	-fx-border-width:0 1 0 0;
}
.principalhbox{
	-fx-border-color:#6F6F6F;
	-fx-border-width:1 0 0 0
}
.leftsideborder{
	-fx-border-color:#6F6F6F;
	-fx-border-width:0 0 0 1;
}
.search-container{
	-fx-border-color:#6F6F6F;
	-fx-border-radius:30;
}
/*.transparent{
	-fx-background-color:#000000;
}*/
.primarycolor{
	-fx-background-color:linear-gradient(to right, #74f2ce ,#7cffcb);
	  /*#D500F9, #FFD54F*/
	  /* 1er choix #D8B5FF → #1EAE98*//* exeqo #96deda → #50c9c3*/
	  /* 2emme choix #BFF098 → #6FD6FF*/ 
	  /* 3eme choix #4E65FF → #92EFFD*/ 
	  /* 4eme choix #93A5CF → #E4EfE9*/
	  /* 5eme choix #89f7fe → #66a6ff*/
	  /* 6eme choix #13547a → #80d0c7*/
	  /*linear-gradient(to right, #fff, #DEEEFE)*/
}

.card1{
	-fx-background-color:yellow;
	-fx-background-radius:20;
}
.card2{
	-fx-background-color:purple;
	-fx-background-radius:20;
}
.card3{
	-fx-background-color:red;
	-fx-background-radius:20;
}
.card4{
	-fx-background-color:green;
	-fx-background-radius:20;
}
.card5{
	-fx-background-color:#3d81e7;
	-fx-background-radius:20;
}
.card6{
	-fx-background-color:#3ce8de;
	-fx-background-radius:20;
}
.card7{
	-fx-background-color:#8de83c;
	-fx-background-radius:20;
}
.card8{
	-fx-background-color:#e83c60;
	-fx-background-radius:20;
}
.date-label{
	-fx-font-size:28px;
}
.button{
	-fx-background-color:#d7d6d6;
	-fx-border-color:#6F6F6F;
	-fx-border-radius:2;
}
.ticketPane{
	-fx-background-color:linear-gradient(to right, #96deda , #50c9c3);;
}
.performance{
	-fx-border-color:black;
	-fx-border-radius:0;
}
.progress{
	-fx-border-radius:30;
}
.loaderbackground{
	-fx-background-color:#74f2ce;
}